<nav class="navbar  sticky-top navbar-dark bg-dark" style="">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/movieshomepage" href="#">
          <h4 netflix >MINI-NETFLIX</h4>
        </a>
      </li>

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2"  type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </nav>
